body{
    background: grey;
    margin: 0;
    padding: 0;
   
   }

   
.square,.square2, .square3, .square4{   
       width: 10%;
       height:100px;
       margin:0px;
   
       background: black;         
              position: fixed;
    display: inline-block;
     }

.prostokat{
    height: 100px;
    width: 10%;
    background: blue;
  margin: -2px;
    
    display: inline-block;
}
     

#pasek{
  
      width: 100%;
       height:300px;
       margin:0px 0px 0px 0px;
   
       background: green;         
    
}


     

    